* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes example {
  0% {
    background-color: rgb(201, 149, 87);
  }
  25% {
    background-color: rgb(56, 143, 114);
  }
  50% {
    background-color: rgb(143, 235, 231);
  }
  100% {
    background-color: rgb(128, 128, 0);
  }
}
h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50 30%;
  border: 10px solid rgb(121, 115, 185);
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  font-size: 5em;
  border-top: 0ch;
}
h1 span {
  position: relative;
  display: inline-block;
}
h1 span:nth-child(1) {
  animation: leanimate 2s alternate infinite;
}
h1 span:nth-child(2) {
  animation: leanimate 4s normal infinite;
}
h1 span:nth-child(3) {
  animation: leanimate 2s alternate infinite;
}
h1 span:nth-child(4) {
  animation: leanimate 4s normal infinite;
}
h1 span:nth-child(5) {
  animation: leanimate 2s alternate infinite;
}
h1 span:nth-child(6) {
  animation: leanimate 4s normal infinite;
}
h1 span:nth-child(7) {
  animation: leanimate 2s alternate infinite;
}
@keyframes leanimate {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  40% {
    transform: translateY(0px) rotate(360deg);
  }
  50% {
    transform: translateY(-100px) rotate(180deg);
  }
  100% {
    transform: translateY(0px) rotate (360deg);
  }
}
#lp {
  padding: 15px 30px 15px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #5f4bbb;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  position: absolute;
  top: 45%;
  left: 40%;
  width: 200px;
  height: 100px;
}
#hs {
  top: 150%;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #684796;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  position: relative;
  top: 100%;
  left: 50%;
  width: 100px;
  height: 100px;
}
.play {
  padding-top: 10%;
  background-color: rgba(132, 11, 41, 0.647);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20%;
}

#next {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #5f4bbb;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  position: relative;
  left: 8%;
  bottom: 12%;
}
#submit {
  padding: 10px 20px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #a8c142;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  bottom: 2%;
  position: relative;
}
#score {
  padding: 20px 30px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #676e25;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  position: relative;
  bottom: 75%;
  left: 40%;
}
form {
  padding: 50% 40%;
  background-color: rgba(132, 11, 41, 0.647);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200%;
  height: 350px;
  right: 10em;
}
#ans {
  padding: 6%;
  position: top;
}
#words {
  vertical-align: text-top;
}
#hscore {
  padding: 20px 30px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #1b2c42;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  position: relative;
  bottom: 87%;
  left: 60%;
}
#correct {
  padding: 20px 30px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #676e25;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  position: relative;
  bottom: 30%;
  left: 40%;
}
